
# MOD If you want to leave the logging level as VERBOSE.
CONFIG_PARTITION_TABLE_OFFSET=0x10000
CONFIG_BOOTLOADER_LOG_LEVEL_DEBUG=y
CONFIG_BOOTLOADER_LOG_LEVEL=4

CONFIG_BOOTLOADER_APP_ROLLBACK_ENABLE=y
